<div class="container">

    <h2>Celebrities's list Page</h2>

    <hr>

    <ul>
        {{#each celebrities}}
        <li>{{title}}
            <br>
            <a class="btn btn-dark" href="/all-celebrities-details/{{id}}">See more</a>
            <p><br>
                <a class="btn btn-dark" href="/celebrities/{{id}}/edit">Edit</a>
            <form method="POST" action="/celebridad/{{id}}/borrar"> 
                <button type="submit" class="btn btn-dark">Delete</button>
            </form>
            </p>
        </li>
        <hr>
        {{/each}}
        <li>
            <a class="btn btn-dark" href="/celebrities/new-celebrity">Create a new celebrity</a>
        </li>

    </ul>

    {{#if error}}
    <div class="error-message">{{error}}</div>
    {{/if}}
</div>