<div class="container">

    <h1>Esta es la lista de {{siteTitle}}</h1>
    <hr>
    <h4>Haz click en el nombre para ver más detalles</h4>
    <div class="row">
        <ul>
        {{#each allCelebrities}}
        <li >
            <h2 ><a href="/celebrities/{{_id}}">{{name}}</a></h2>
            <form action="/celebrities/{{_id}}/delete" method="POST">
                <button type="submit" class="btn btn-dark">Eliminar celebrity</button>
            </form>
            <a href="/celebrities/{{id}}/edit">Editar celebrity</a>
            <br>
        </li>
        {{/each}}
        </ul>
    </div>
    <a href="/celebrities/new">Crear nueva celebrity</a>
</div>